:root {
	--background-color: #FAF9F5;
	--focus: #E1E0DC;
	--border: rgba(0, 0, 0, .2);
}
body {
	margin-top: 56px;
	background-color: var(--background-color);
}
#main-content {
	margin-top: 20px;
	padding-bottom: 20px;
}
#main-image {
	margin-bottom: 20px;
}
.navbar[data-bs-theme="dark"] {
	--bs-navbar-hover-color: var(--background-color);
	--bs-navbar-active-color: var(--background-color);
	--bs-navbar-brand-color: var(--bs-navbar-color);
	--bs-navbar-brand-hover-color: var(--background-color);
}
.dropdown-menu {
	--bs-dropdown-bg: var(--background-color);
	--bs-dropdown-link-hover-bg: var(--focus);
}
.list-group-item {
	--bs-list-group-bg: var(--background-color);
	--bs-list-group-border-color: var(--border);
	--bs-list-group-action-color: #000;
	--bs-list-group-action-hover-bg: var(--focus);
	--bs-list-group-action-active-color: #000;
	--bs-list-group-action-active-bg: var(--focus);
}
.list-group-item-linkedin,
.list-group-item-github {
	--bs-list-group-bg: rgb(var(--brand));
	--bs-list-group-action-color: #fff;
	--bs-list-group-action-hover-color: #fff;
	--bs-list-group-action-hover-bg: color-mix(in srgb, rgb(var(--brand)) 72%, #000);
	--bs-list-group-action-active-color: #fff;
	--bs-list-group-action-active-bg: color-mix(in srgb, rgb(var(--brand)) 52%, #000);
}
.list-group-item-linkedin {
	--brand: 0, 123, 182;
}
.list-group-item-github {
	--brand: 68, 68, 68;
}
