:root {
	--background-color: #FAF9F5;
	--focus: #E1E0DC;
}
body {
	margin-top: 50px;
	background-color: var(--background-color);
}
#main-content {
	margin-top: 20px;
	padding-bottom: 20px;
}
#main-image {
	margin-bottom: 20px;
}
.btn-default {
	background-color: var(--background-color);
}
.btn-default:focus,
.btn-default:hover {
	background-color: var(--focus);
}
.dropdown-menu {
	background-color: var(--background-color);
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
	background-color: var(--focus);
}
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover {
	color: var(--background-color);
}
